# Copyright (c) 2023 Nicolas Paul All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

/.vscode/
/.idea/
*.o
*.out
*.exe
crocc
/testdata/dst